[Unit]
Description=Control when slowdown will occur
Requires=PWslowdown.service

[Timer]
Unit=PWslowdown.service
OnCalendar=*-*-* 06:00:00
OnCalendar=*-*-* 17:00:00

[Install]
WantedBy=timers.target
