[Unit]
Description=Control when speedup will occur
Requires=PWspeedup.service

[Timer]
Unit=PWspeedup.service
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 22:00:00

[Install]
WantedBy=timers.target
